html::-webkit-scrollbar {
    display: none;
}
#navbartop {
    position: fixed;
    width: 100%;
    left: 130px;
    z-index: 1;
}
.btn {
    border-radius: 0px !important;
}
#ddetails {
    margin-top: 1%;
    width: auto;
    border-bottom: 1px solid rgba(145, 145, 145, 0.473); 
    text-align: justify;
    margin-bottom: 4%;
    display: block;
}
#dd-agerange, #dd-educational {
    color: #000;
}
  @media screen and (max-width: 992px) and (min-width:850px) {
    #signup-row {
        margin-top:20%;
    }
  }
