
#main {
    font-size: 12px;
}
body {
    text-transform: capitalize;
}
button span {
    font-size: 12px;
    color: #000;
} 
#btnSearch {
    background-color: red !important;
}
#defaultstudio { 
    font-size: 10px;
}
.sidenav a:hover { 
    color: #f1f1f1;
}

#separators ul
{
    margin: 0;
    padding: 0;
}
a {
    color:white;
}
a:hover {
    color:rgb(207, 57, 57);
}
#tabs li + li:before {
    content: "  |  ";
    padding: 0 10px;
}
#sowl {
    margin-right: 80px;
}
#sowl a i {
    display: inline-block;
}
#movieplot {
    width: 65%;
    font-size: 13px;
}
#moviedirector, #moviegenre, #moviestudio {
    text-align: right;
}

#signoutwishlist {
    background-color:rgb(0, 0, 0);
    height: 100%;
    display: block;
}
tbody { 
    background-color:white;
    color: #000;
}
::-webkit-scrollbar { 
    display: none; 
  }
@media screen and (max-width:150px) {
    .grid-container > div {
        min-width: 30px;
    }
}
#bodycolumn {
    height: 80vh;
    padding-right: 3%; 
    padding-left: 5%;
    margin-right: 3%;
    font-size: 10px;
}
/* #bgvids {
    background-image: 
} */
ul.list-group:after {
    clear: both;
    display: block;
    content: "";
  }
  
  .list-group-item {
      float: left;
  }

  .section-divider ul {
    margin: 0;
    padding: 0;
}
.section-divider {
    margin: 0;
    padding: 0;
    width: 100%; 
    text-align: left; 
    border-bottom: 1px solid #818181; 
    line-height: .1em;
    margin: 15px 5% 20px; 
}
.section-divider ul li
{
    list-style-type: none;
    display: inline;

}
.section-divider li:not(:first-child):before {
    content: " | ";
    background-color: #000;
    padding: 10px 20px 10px 10px;
}
#styleRow {
    background-color:rgb(0, 0, 0);
}
span#divider-text {
    margin-left: -15px;
    background-color: #000;
    padding: 0 20px 0 0;
    cursor: pointer;
}
span#divider-text:hover {
    color: #ed1c24;
}
.headerContents {
    font-weight: bold;
}
#videoImage {
    width: auto;
    margin: 15px;
}
#movieyear {
    color: #818181;
}
#mainSearchResult {
    margin-left: 130px;
    background-color: #000;

    color:white;
    height: 100%;
    display:block;
    
    -webkit-background-size: cover;
    background-size: cover;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.575) 30%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);
    background-image: url('../images/avengers_wall.jpg') no-repeat;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-blend-mode: luminosity, luminosity, luminosity !important;
}
#tabsfileDetails li + li:before {

    content: "  |  ";
    padding: 0 10px;

}
#tabsfileDetails { 
    font-size: 12px;
}
#movieplot {
    font-size: 10px;
    text-align: justify;
}
#otherFileInfo {
    font-size: 11px;
}
#pg {
    padding: 3px 10px 3px 10px; 
    background-color: #ed1c24;
}
#btnSearch {
    border-radius: 0 !important;
    background-color: #ed1c24;
} 

#fileImageDiv {
    width: auto;
    margin: auto;
    margin-top: 20px;
}
.fileimage {
    width: 230px;
    height: 230px;
    margin-left: 19%;
}
td:hover {
    cursor: pointer;
}
.actors-section {
    height: 130px;
}
.cast-thumbnail {
    height: 64px;
    background-image: url('../images/cast1_tonystark.jpg');
    border-radius: 50%;
    max-width: 68px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: block;
    vertical-align: middle;
    background-position: center;
}
.cast-thumbnail .actors-details .cast-name {
    padding: 0px;
    margin-top: 70px !important;
    font-size: 10px;
    width: 90px;
    margin-left: -20px;
}
.cast-thumbnail .actors-details .cast-character {
    padding: 0px;
    font-size: 10px;
    width: 90px;
    margin-left: -5px;
    color: #999999;
}
.audio-artist-details {
    min-height: 32px;
}

.audio-artist-metadata .audio-artist-albums .audio-artist-each-album .img {
    width: 100%;
    display: block;
    height: 148px;
    background-size: contain;	
    cursor: pointer;
}
.audio-artist-metadata .audio-artist-albums .audio-artist-each-album .img.active {
    border: 2px solid red;
}

.audio-artist-details .audio-artist-metadata .audio-artist-albums .audio-artist-each-album .img.active:before {
    content: '\E73E';
    color: white;
    float: right;
    top: -13px;
    position: relative;
    background: red;
    border-radius: 36px;
    height: 26px;
    width: 25px;
    padding: 0px 5px;
    right: -9px;
    font-family: 'Segoemdl2';
    font-weight: bolder;
}
.album-artist-title #albumAudioTitle {
    font-size: 18px;
}
.album-artist-description #albumAudioDescript {
    margin-top: 20px;
    font-size: 11px;
    text-align: justify;
}
#tracks {
    font-size: 18px;
}
.trackList {
    font-size: 12px;
}


.track-section {
    color: #888888;
}
.track-section:hover {
    color: white;
}

table {
    width: 100%;
    overflow-x: scroll;
}
.tracksListdiv {
    height: 180px;
    line-height: 50px;
    overflow-y: auto;
}
.tracksListdiv::-webkit-scrollbar {
    display: block;
    width: 10px;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%; 
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.tracksListdiv::-webkit-scrollbar-track { 
    background: #111111; 
    border-radius: 10px;
    box-shadow: inset 0 0 8px grey; 
}
.tracksListdiv::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    display: block;
}
.tracksListdiv::-webkit-scrollbar-thumb:hover {
    background: #555555; 
    border-radius: 10px;
} 

