html::-webkit-scrollbar {
    display: none;
}
#spacing {
    height: 40vh;   
    display: block;
    padding-bottom: 40vh;
}
#bg {
    position: fixed;
    height: 40vh;
    width: 95%;
    background-image:url('../images/mainwall.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-blend-mode: soft-light;
    background-color:rgba(0, 0, 0, 0.582);
    display: block; 
    z-index: 1;
}

#content-main {
    position: fixed;
    text-align: justify;
    margin-left: 15px;
    height: 55%;
    overflow-y: scroll;
    width: auto;
    overflow-x: hidden;
    display: block;
}
#content-main::-webkit-scrollbar {
    display: block;
    width: 10px;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
}
#content-main::-webkit-scrollbar-track {
    background: #111111; 
    border-radius: 10px;
    box-shadow: inset 0 0 8px grey; 
}
#content-main::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    display: block;
}

#content-main::-webkit-scrollbar-thumb:hover {
    background: #252525; 
    border-radius: 10px;
} 

.col-lg-12 {
    margin: 0 !important; 
    padding: 0 !important;
}
#sowl {
    float: right;
    padding-right: 30px;
    
}
.grid-cards {
    background-color:#191919;
    height: 250px;
    height: 220px;
    max-width: 200px;
    min-width: 190px; 
    margin: 15px;
    border-style: solid 1px #555555;
    overflow: hidden;
    border: 1px solid #ed1c24;
    text-align: left;
    min-width: 120px;
    padding: 5px;
    padding-bottom: 15px;
    font-size: 12px;
    transition: transform .2s;
}
#filetitle {
    margin-top: 5%;
    font-size: 12px;
}
#movieyear {
    font-size: 10px;
    margin-top:-2%;
}
a {
    color:white;
    font-size: 15px;
}
a:hover {
    color:rgb(207, 57, 57);
}
.section-divider ul {
    margin: 0;
    padding: 0;
}
.section-divider {
    width: 100%; 
    text-align: left; 
    border-bottom: 1px solid #818181; 
    line-height: .1em;
    margin: 15px 0 30px; 
}
.section-divider ul li
{
    list-style-type: none;
    display: inline;

}
.section-divider li:not(:first-child):before {
    content: " | ";
    background-color: #000;
    padding: 0 20px 30px 0;
}
span#divider-text {
    background-color: #000;
    padding: 0 20px 0 0;
    cursor: pointer;
}
span#divider-text:hover {
    color: #ed1c24;
}
#grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: -5px;
    background-color: #000;
  }
  #grid-container div {
      width: 150px;
  }
  #grid-container div > div {
    background-color: rgba(12, 12, 12, 0.692);
    border: 1px solid black;
    text-align: left;
    height: 80%;
    min-width: 120px;
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
    font-size: 30px;
    transition: transform .2s;
  } 
 /* #dividers {
    width: auto; 
    height:30px; 
    border-bottom: 1px solid rgba(145, 145, 145, 0.473); 
    text-align: justify;
 } */
  #grid-container div >  div:hover {
    border: 1px solid rgb(233, 59, 59);
    border-radius: 6px;
  }
  #grid-container div > a {
      float: right;
      display: block;
      color: white;
      text-decoration: none;
  }
  #grid-container div > a:hover {
     background-color: #333;
  }

  /* @media screen and (max-width:150px) {
    .grid-container > div {
        min-width: 30px;
    }
}
@media screen and (max-width:500px) {
    #grid-container div > div img {
        height: 15vh;
  }
} */
@media screen and (width:850px) {
    #sowl {
        padding-right: 5%;
    }

}
/* .main-content {
    margin-top: 22%;
    overflow: scroll;
    width: auto;
    overflow-x: hidden;
}
.main-content::-webkit-scrollbar {
    display: block;
    width: 10px;
    border-radius: 10px;
    padding-top: 60% !important;

}
.main-content::-webkit-scrollbar-track {
    background: #000000; 
    border-radius: 10px;
    box-shadow: inset 0 0 8px grey; 
}

.main-content::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    display: block;
}

.main-content::-webkit-scrollbar-thumb:hover {
    background: #252525; 
    border-radius: 10px;
} */


/* hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}  */