html {
    margin: auto;
    padding: 0;
    /* text-transform: capitalize; */
}
html::-webkit-scrollbar {
  display: none; 

}
.header-navigation {
  padding-bottom: 70px;
}

.fileImageDiv {
  padding: 0 10%;
}
#filetitle {
  font-size: 2.5rem;
}
#fileyear {
  font-size: 1.5rem;
}
.list-group-item {
    float: left;
}
.container-fluid {
  padding: 0;
}
#plot {
  font-size: 14px;
  width: 95%;
  margin-bottom: 3rem;
}
.section-divider {
  width: 100%; 
  text-align: left;  
  border-bottom: 1px solid #444444; 
  line-height: .1em;
  margin: 50px 5% 50px 35px;
}
.file-details-header {
  text-transform: capitalize;
}
.section-divider ul { 
  display: inline;
  padding: 0;
}
.section-divider ul li
{
  background-color: #060606;
  list-style-type: none;
  display: inline;

}
.section-divider ul li span {
  margin-left: -20px;
}
.section-divider li:not(:first-child):before {
  content: " | ";
  padding: 10px 20px 10px 10px;
}
span#divider-text {
  padding: 0 20px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  
}
#btnBuy {
  background-color: #ed1c24;
}
.meta-data-details {
  font-size: 14px;
}
#tabsfileDetails li + li:before {
  content: "  |  ";
  padding: 0 20px;
  color: #424242;

}
#tabsfileDetails {
  font-size: 18px;
  margin-top: 10px;
}
#movieplot {
  font-size: 10px;
  text-align: justify;
  width: 500px;
}
.btn {
  border-radius: 0px !important;
}
.row {
  padding: 0;
  margin: 0;
}
#toggleBtn2 span {
  float: right;
  padding-left: 20px;
  padding-right: 0px;
}
.file-ratings-division {
  margin-top: 50px;
}
.file-ratings-division #tabsfileDetails{
  font-size: 26px;
  margin-top: 0px !important;
}

.file-ratings-division .stars-section{
  font-size: 18px;
}

.file-ratings-division .users-review-section{
    font-size: 18px;
}


.ratings-sector {
  margin-left: 50px;
}
#fileRatings {
  font-size: 88px;
}
#totalRatings {
  font-size: 18px;
    padding-left: 20px;
    text-align: center;
}

.file-ratings {
  font-size: 14px !important;
}
.file-review {
  padding-left: 30px;
}
button {
  z-index: inherit;
}
.meta-data-details #ddownSubs, #ddownAudio {
  color: rgba(212, 27, 33, 0.76);
}
#tabsfileDetails #btnFileReview, #btnArtisticReview {
  cursor: pointer;
}
#tabsfileDetails #btnFileReview:hover, #btnArtisticReview:hover {
  color:  rgba(226, 12, 20, 0.808);
}
.users-review-section span {
  margin-left: 15px;
}
  .users-review-section p {
    font-size: 14px;
    margin-left: 30px;
    width: 90%;
}
.file-meta{
    margin-top: 80px;
}
#avx-usr-accnt{
    font-weight: 700;
}
.avx-file-review-sec{
  margin-top: 50px;
}
.mdi-star{
  color: #fec136;
}
#fileCost{
  color: #fec136;
}