/*SCROLL SKIN*/
.scroll-skin {
    overflow: hidden!important;
    overflow-y: auto!important;
	/*PROVIDE MIN-HEIGHT ON MAIN CLASS*/
}
.scroll-skin::-webkit-scrollbar {
    display: block;
    width: 10px;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.scroll-skin::-webkit-scrollbar-track { 
    background: #111111; 
    border-radius: 10px;
    box-shadow: inset 0 0 8px grey; 
}
.scroll-skin::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    display: block;
}
.scroll-skin::-webkit-scrollbar-thumb:hover {
    background: #555555; 
    border-radius: 10px;
} 

/*POPUP INNER WHITE*/
.popup-inner-white {
    top: -45px;
    position: relative;
    max-width: 990px;
    padding-left: 66px;
    padding-right: 66px;
    margin: 0 auto;
    color: #000000;
    background: #ffffff;
}
.popup-inner-white a {
    color: #000000;
}
.popup-inner-white #whiteP {
    text-align: left;
}

.popup-inner-white #priceAVX {
    font-size: 32px;
    float: right;
}
hr#hr {
    width: 100%;
    border-bottom: #111111;
}
/*Popup*/
.popup {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.75);
	z-index: 99;    
	font-family: 'Segoe UI';
}

.popup {
	text-align: center;
    overflow: scroll;
}

.popup:before {
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: -4px;
	vertical-align: middle;
}

.popup-inner {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	position: relative;
	max-width: 700px;
	width: 90%;
	padding: 40px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
	border-radius: 3px;
	text-align: center;
	background-color: #000000;
	color: whitesmoke;
	font-family: 'Segoe UI';
    max-height: 625px;
    overflow: hidden;
}

.popup-inner h1 {
    font-size: 27px;
    font-weight: 400;
}

.popup-inner p {
	font-size: 24px;
	font-weight: 400;
}
.popup-inner .popup-avx-logo {
	width: 42px;
}
.popup-inner .popup-avx-logo-title {
	margin-top: -6px;
}
.popup-inner .red-text {
	color: #ed1c24;
}
.popup-inner .full-width {
    width: 100%;
}
.popup-close {
	width: 56px;
    height: 34px;
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 28px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 100%;
    background: transparent;
}

.popup-close:after,
.popup-close:before {
    content: "";
    position: absolute;
    top: 17px;
    left: 20px;
    height: 2px;
    width: 16px;
    border-radius: 30px;
    background: #ffffff;
    transform: rotate(45deg);
}

.popup-close:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.popup-close:hover, 
.popup-close:hover {
    background: #ed1c24;
    text-decoration: #ed1c24;
    border-color: #ed1c24;
    border-radius: 0;
}
.popup .btn-danger {
    background-color: #ed1c24;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
}

.popup-close:hover:after,
.popup-close:hover::before {
	background: #fff;
}

/* Label with border as breaker */
.popup .popup-inner h5.label-with-border {
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    padding-top: 37px;
}

.popup .popup-inner h5.label-with-border:before,
.popup .popup-inner h5.label-with-border:after {
    background-color: #808080;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 0%;
}

.popup .popup-inner h5.label-with-border:before {
    right: 0.5em;
}

.popup .popup-inner h5.label-with-border:after {
    left: 11px;
    margin-right: -31%;
    width: 100%;
}

.popup .popup-inner .meta-data-details {
    font-size: 15px;
    text-align: left;
    padding: 30px 40px;
}
.popup .popup-inner .meta-data-details select {
    outline: none;
    background: none;
    color: red;
    border: none;
}

/** Popup Modal for Share Scanning File **/
.popup.scanning-file #stat {
	margin-top: -201px;
}
.popup.scanning-file .popup-inner h4.title-label {
	font-size: 19px;
    padding-top: 124px;
    font-weight: 400;
    color: #c1c1c1;
}
.popup.scanning-file .popup-inner #stat {
	margin-top: -200px;
}
.popup.scanning-file .popup-inner .mdi-48px.mdi:before {
    font-size: 220px;
}

/** Popup Modal for Share Scan Result **/
.popup.scan-result .popup-inner {
    max-width: 990px;
    padding-left: 66px;
    padding-right: 66px;
}
.popup.scan-result .popup-inner  h1 {
	text-align: left;    
	font-size: 30px;
    font-weight: 400;
}
.popup.scan-result .popup-inner  h1 span.mdi-file-outline::before {
    font-size: 32px;
}
.popup.scan-result .popup-inner .file-scanned {
    margin-top: 50px;
}
.popup.scan-result .popup-inner .file-scanned label.title {
    display: block;
}
.popup.scan-result .popup-inner .file-scanned p {
    font-size: 15px;
    text-align: left;
    padding-left: 38px;
}
.popup.scan-result .popup-inner .file-scanned p span:before {
    font-size: 23px;
}
.popup.scan-result .popup-inner .file-scanned .file-lists{
	list-style-type:none;
	padding-left: 32px;
}
.popup.scan-result .popup-inner .file-scanned .file-lists > p {
    font-size: 12px;
}
.popup.scan-result .popup-inner .file-scanned .file-lists span:before{
	font-size: 16px;
}
.popup.scan-result .popup-inner p.file-dir-info {
    text-align: left;
    margin-top: 60px;
    font-size: 15px;    
    padding-bottom: 20px;
}
.popup.scan-result .popup-inner p.file-dir-info span.mdi-48px.mdi:before {
    font-size: 26px;    
	margin-top: -5px;
}
.popup.scan-result .popup-inner .share-modal-options {
    margin: 50px 0;
    border-top: 1px #808080 solid;    
    padding-top: 33px;
}
.popup.scan-result .popup-inner .share-modal-options p {
    text-align: left;
}
.popup.scan-result .popup-inner .share-modal-options .btn-default{
    padding: 10px 32px;    
}


.popup.scan-result .popup-inner .file-details {
	margin: 30px 0;    
	min-height: 32px;
}
.popup.scan-result .popup-inner .file-details #claimThisAccount {
	background: #252525;
	font-size: 13px;
}
.popup.scan-result .popup-inner .file-details .file-feature-img {
    min-height: 320px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    display: block;
    vertical-align: middle;
    background-position: center;
}
.popup.scan-result .popup-inner .file-details .file-title .file-year {
    display: block;
    font-size: 16px;
    padding: 15px 0;
}
.popup.scan-result .popup-inner .file-details .file-subdata{
    text-align: left;
    font-size: 15px;	
}
.popup.scan-result .popup-inner .file-details .file-subdata strong {
    background: rgb(237, 28, 36);
    padding: 5px 16px;
    margin: 10px;
}

.popup.scan-result .popup-inner .file-details .file-metadata{
	text-align: left;
	padding: 22px 0;
	width: 100%;
}
.popup.scan-result .popup-inner .file-details .file-metadata p, 
.popup.scan-result .popup-inner .file-details .file-metadata strong {
    font-size: 15px;
    float: left;
}
.popup.scan-result .popup-inner .file-details .file-metadata p {
	width: 110px;    
	margin-bottom: 9px;
}
.popup.scan-result .popup-inner .file-details .file-metadata strong {
	display: contents;
}
.popup.scan-result .popup-inner .file-details .file-metadata p.full-width{
	width: 100%;
	padding: 0 12px;
}
.popup.scan-result .popup-inner .file-details .file-metadata .file-actor {
    padding: 0 25px;
}
.popup.scan-result .popup-inner .file-details .file-metadata .file-actor h3 {
    font-size: 17px;	
}

.popup.scan-result .popup-inner .file-details .file-metadata .file-actor-heading{
	margin-bottom: 36px;
}

.popup.scan-result .popup-inner .file-details .file-metadata .file-actor-content .file-actor-details .img {
    height: 107px;
    border-radius: 54px;
    max-width: 304px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: block;
    vertical-align: middle;
    background-position: center;
}
.popup.scan-result .popup-inner .file-details .file-metadata .file-actor-content .file-actor-details .name {
	margin-top: 13px;
    font-weight: bold;
    font-size: 13px;
     margin-bottom: 0;
}
.popup.scan-result .popup-inner .file-details .file-metadata .file-actor-content .file-actor-details .role {
    font-size: 12px;
}
.popup.scan-result .popup-inner .generateFileScanned {
	max-height: 300px;
}
.popup.scan-result .popup-inner .generateFileScanned .file-scanned:not(:first-child) {
	margin: 0;
}



/** Popup Modal for Validation File **/
.popup .validation-event .popup-inner {
    max-width: 450px;    
	padding-left: 66px;
    padding-right: 66px;
}
.validation-event .popup-inner {
    max-width: 450px;    
	padding-left: 66px;
    padding-right: 66px;
}
.popup.validation-event .popup-inner h4.title-label {
	font-size: 19px;
    padding-top: 124px;
    font-weight: 400;
    color: #c1c1c1;
}
.popup.validation-event .popup-inner #stat {
	margin-top: -200px;
}
.popup.validation-event .popup-inner .mdi-48px.mdi:before {
    font-size: 220px;
}

/* #transferStat {
    display: none;
} */
.counterLogin {
    display: none;
}
#signupfailPopup {
    margin-top: 50px !important;
}

#btnChkAgreement, #btnpasswordEmptyfail, #btnSignupemptyfail, #btnSignupfail, #btnLoginfail {
    width: 150px;
}
.scanning-file #confirmHeader {
    font-size: 24px;
    text-align: left;
}
