 <div class="popup sendToken" pd-popup="accountSendToModal">
    <div class="popup-inner scroll-skin">
	  <h4 style="font-weight: 400;text-align: left;margin-bottom: 37px; font-size: 29px;" >Send Token</h4>
		<p class="wallet-infomation">
			Wallet balance:  
			<span style="margin-left: 10px; color: #098c48; font-weight: 700; font-size: 25px; " class="total-balance">00.00</span> 
			<span style="margin-left: 10px; color: #098c48; font-weight: 700; font-size: 25px; margin-left:0">AVX</span>
		</p>
		<p class="wallet-infomation">
			Wallet address:  
			<span style="margin-left:10px; font-weight: 100;" class="Waddress"></span>
		</p>
		<div class="input-holder">
			<div class="amount-holder">
				<input type="number" id="avxquantity" placeholder="0.00">
				<p>AVX Quantity to export</p>
			</div>
			<div class="wallet-info">
				<input type="text" id="receiver" placeholder="Enter wallet address">
				<textarea placeholder="Description"></textarea>
			</div>
		</div>
		<div class="share-modal-options row">
			<div class="col-7">
			</div>
			<div class="col-5">
				 <a href="#" id="btnSendtoken" class="btn btn-danger float-right">Send</a>
			</div>
		</div>
	  <a class="popup-close" pd-popup-close="accountSendToModal" href="#"> </a>
    </div>
</div>

 <div class="popup sendToken" pd-popup="accountSendToSuccessModal">
    <div class="popup-inner scroll-skin">
		<p> You have successfully send token</p>
    </div>
</div>


 <div class="popup sendToken" pd-popup="accountSendToErrorModal">
    <div class="popup-inner scroll-skin">
		<p> Error encountered when sending a token. Please check and try again</p>
    </div>
</div>

<script>
jQuery(document).ready(function($) {
	/*Close Modal action*/
	$('[pd-popup-close]').click(function(e) {
	    var targeted_popup_class = jQuery(this).attr('pd-popup-close');
	    $('[pd-popup="' + targeted_popup_class + '"]').fadeOut(200);

	    e.preventDefault();
	});
	
	$('#btnSendtoken').click( function (e) {
		$(this).attr("disable","disable" );
		e.preventDefault();

		json1.status = 1115;
		var amount = document.getElementById('avxquantity').value;
		json1.data.sender = $(".Waddress").text();
		json1.data.receiver = document.getElementById('receiver').value;
		json1.data.amount = parseInt(amount);
		// json1.data.type = parseInt(1);
		jsonString1 = JSON.stringify(json1);
		ipcRenderer.sendSync('send-token',jsonString1);
		
		setTimeout(function() {
			// POPULATE DATA ON SCREEN
			let data = store.get('avx-account-send-wallet');
			store.delete('avx-account-send-wallet');
			if(typeof data != 'undefined') {
				$(this).removeAttr("disable");
				$('[pd-popup="accountSendToModal"]').fadeOut(100);
				if ( data["response"] == 1) {
					$('[pd-popup="accountSendToSuccessModal"]').fadeIn(100);
					
					setTimeout(function() {
						$('[pd-popup="accountSendToSuccessModal"]').fadeOut(100);
						//location.reload();
						autoRefresh();
						
					}, 3000);
					
					
				} else {
					$('[pd-popup="accountSendToErrorModal"]').fadeIn(100);
					
					setTimeout(function() {
						$('[pd-popup="accountSendToErrorModal"]').fadeOut(100);
					}, 2000);
				}
				
			}

		}, 2000);
	
	});
});




// FUNCTION FOR TESTING
function autoRefresh() {
	
	/* GET ACCOUNT BALANCE */
	let jsonBalance = { status : 1121 };
	let jsonStringBalance = JSON.stringify(jsonBalance);
	ipcRenderer.sendSync('avx-account-balance', jsonStringBalance);
	
	/* GET HISTORY */
	let jsonHistory = { status : 1123 };
	let jsonStringHistory = JSON.stringify(jsonHistory);
	ipcRenderer.sendSync('avx-account-history', jsonStringHistory);
	
	/* GET ACCOUNT SPENT */
	let jsonSpent = { status : 1124 };
	let jsonStringSpent = JSON.stringify(jsonSpent);
	ipcRenderer.sendSync('avx-account-spent', jsonStringSpent);
	
	
	setTimeout(function() {

	
		// POPULATE DATA ON SCREEN
		let dataBalance = store.get('avx-account-balance');
		store.delete('avx-account-balance');
		if(typeof dataBalance["balance"] != 'undefined') {
			$('.total-balance').html(parseFloat(dataBalance["balance"]).toFixed(2));
		}

	}, 1000);

	setTimeout(function() {

	
		// POPULATE DATA ON SCREEN

		
		let dataSpent = store.get('avx-account-spent');
		store.delete('avx-account-spent');
		if(typeof dataSpent["spent"] != 'undefined') {
			$('#spentavx').html(parseFloat(dataSpent["spent"]).toFixed(2));
		}
		
		
	}, 1000);

	
	setTimeout(function() {

	
		// POPULATE DATA ON SCREEN

		let dataHistory = store.get('avx-account-history');
		store.delete('avx-account-history');
			

		if(typeof dataHistory["history"] != 'undefined') {
			let outputHistory = JSON.parse(dataHistory["history"]);
			let outputIncoming;
			let outputOutgoing;
			
			if(typeof outputHistory["incoming"] != 'undefined') {

				for (var key in outputHistory["incoming"]) {
					let currObj = outputHistory["incoming"][key];
					outputIncoming += '<tr>';
					outputIncoming += '<td>'+currObj["type"]+'</td>';
					outputIncoming += '<td>-Date-</td>';
					outputIncoming += '<td>-Time-</td>';
					outputIncoming += '<td>'+currObj["sender"]+'</td>';
					outputIncoming += '<td>'+currObj["receiver"]+'</td>';
					outputIncoming += '<td>-Desc-</td>';
					outputIncoming += '<td>'+currObj["amount"]+'</td>';
					outputIncoming += '<td>-Trans ID-</td>';
					outputIncoming += '</tr>';
				}
				
				$("#incoming tbody").html(outputIncoming);
			}
			
			if(typeof outputHistory["outgoing"] != 'undefined') {
				
				for (var key in outputHistory["outgoing"]) {
					let currObj = outputHistory["outgoing"][key];
					outputOutgoing += '<tr>';
					outputOutgoing += '<td>'+currObj["type"]+'</td>';
					outputOutgoing += '<td>-Date-</td>';
					outputOutgoing += '<td>-Time-</td>';
					outputOutgoing += '<td>'+currObj["sender"]+'</td>';
					outputOutgoing += '<td>'+currObj["receiver"]+'</td>';
					outputOutgoing += '<td>-Desc-</td>';
					outputOutgoing += '<td>'+currObj["amount"]+'</td>';
					outputOutgoing += '<td>-Trans ID-</td>';
					outputOutgoing += '</tr>';
				}
				
				$("#outgoing tbody").html(outputOutgoing);
				
			}
			
			$("#tbMerge tbody").html(outputIncoming+outputOutgoing);
		}
		//let accountHistoryIncoming = data["incoming"];

		

		
	}, 1000);
	
}

</script>

