<!-- Payment Confirmation Page -->
<div class="popup scan-result" pd-popup="shareMarketPriceForMultipleModal" >
	<div class="popup-inner scroll-skin no-padding">
	<div class="padding-modal">
		<div class="row file-details">
			<div class="col-sm-12 col-md-12">
				<img class="popup-avx-logo float-left" src="../images/logo_white.png">
				<p class="float-left popup-avx-logo-title" style="margin-left:10px"> AVXChange Market Price Analytics</p>
			</div>
		</div>
		 	<div class="row file-details file-payment-lists">  
				<div class="row mb-5 mt-5 container-fluid">   
					<h5 class="label-with-border white-title"> 
						<span class="fileTitle"></span> 
						<span class="icon-segoe float-left toogle-icon segoe-flick-up"></span> 
						<span class="filePrice" style="padding-left: 22px !important; margin-top: 0 !important; padding-right: 25px !important; right: 63px !important"> <span style="color: #969696;font-size: 11px;font-weight: 500;position: absolute;text-transform: capitalize;text-overflow: ellipsis;"	></span> <br><span class="labelPriceTop">0 AVX</span></span> 
					</h5> 
				</div>  
				
				<div id="file" class="container-fluid">   
					<div class="row">   
						<div class="col-sm-12 col-md-2">  
								<div class="file-feature-img" style="min-height: 173px; background-image: url('')"></div>  
						</div>  
						<div class="col-sm-12 col-md-10 ">  
			
							<div class="row file-metadata">  
								<div class="col-12">  
									<p>Title: </p>  
									<strong class="col-12 fileTitle"></strong>  
									<p class="file-subdata">  
										<strong class="resolution"></strong> 
									</p>  
								</div>  
								<div class="col-12">  
									<p>Runtime: </p>  
									<strong class="col-12 duration"></strong>  
								</div>  
								<div class="col-12">  
									<p>Released: </p>  
									<strong class="col-12"></strong> 
								</div>  
								<div class="col-12">  
									<p>Type: </p>  
									<strong class="col-12"></strong> 
								</div>  
							</div>  
			
							<h5 class="label-with-border">Audio Language and Subtitle: </h5>  
			
							<div class="row file-metadata"> 
								<div class="col-12"><br> 
									<p>Audio: </p>  
									<strong class="col-12 red-text"> N/A </strong>  
								</div>  
								<div class="col-12">  
									<p>Subtitle: </p>  
									<strong class="col-12 red-text"> N/A </strong>  
								</div>  
							</div>  
			
							<h5 class="label-with-border">Pricing Data Points: </h5>  
							<div class="meta-data-details no-padding">  
		
							<div class="row file-metadata"> 
								<div class="col-12"><br> 
									<p>Year Released: </p>  
									<strong class="col-12"></strong>  
								</div>  
								<div class="col-12">  
									<p>Resolution: </p>  
									<strong class="col-12 resolution"> N/A </strong>  
								</div>  
								<div class="col-4">  
									<p>Price in USD: </p>  
									<strong class="col-12 usd-price"> </strong>  
								</div>  
								<!-- <div class="col-4">  
									<p style="width: 128px">USD to AVX Rate: </p>  
									<strong style="background: #f6f6f6;color: #5d5d5d;font-size: 13px;float: left;padding: 2px 11px; width: 128px" class="col-12"> 
										$1.00 = 0.0025 AVX </strong>  
								</div>   -->
								<div class="col-4">  
									<p>AVX Cost: </p>  
									<strong class="col-12 price"> N/A </strong>  
								</div>  
							</div>  
			
							<div class="row meta-data-details no-padding">  

								<canvas id="surface'+item+'" width="677.286px" style="width:100%;margin-top: -120px;" height="250"></canvas> 
								<img id="txImage" src="../images/horizontal logo_tm_x800.png" style="width: 15%;height: 100%;margin-top: -52px; float: left; margin-left:56px"> 
								<p class="graph-label">$10.00 = 0.0025BTC = 39.123415 AVX</p>  
								<div class="payment-break-down mb-5">  
									<h5 class="label-with-border break-down">See where your money goes </h5>  
										<ul class="ml-5">  
											<li>  
												60% = <span id="sixtyP"></span> AVX goes to Intellectual Property owners acount.  
											</li>  
											<li>  
												35% = <span id="thirtyP"></span> AVX, normally goes to file uploaders, but on file genesis, this goes to the AVX network as a fee to save the new file into the avx network. Please note you will not be uploading this file at this time, it is only entered into the records as being available from you. Any and all uploading will be compensated.  
											</li>  
											<li>  
												5% = <span id="fiveP"></span> AVX will go to the nodes maintaining the AVX network.  
											</li>  
									</ul>  
								</div>  
							</div>  					
						</div>  					
					</div> 
					</div> 					
				</div> 
			</div>

		<a class="popup-close" pd-popup-close="shareMarketPriceForMultipleModal" href="#"> </a>
	</div>
	
	<div class="popup-inner-white">
		<div class="row">
			<div class="col-8 mt-5">
				<p style="font-size: 18px" id="whiteP"> (AVX Token Price) </p>
			</div>

			<div class="col-4 mt-5">
			<span id="priceAVX"></span>
			</div>
		</div>
		<hr id="hr"/>
		<div class="row mb-5">
			<div class="col-8">
				<div class="row file-details" style="margin: 0px;">
						<div class="row file-metadata" style="padding: 0;">
							<div class="row">
								<div class="col-lg-12">
									<span id="walletBalance" style="font-size: 18px; color:#4ab65c;"> </span> <span  style="font-size: 18px; color:#4ab65c;">AVX</span>
									<span class="mdi mdi-shopping-music"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<span style="font-size: 10px">
										Account Wallet Ballance
									</span>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="col-4">
				<a href="#" id="executePayment" class="btn btn-danger float-right">Buy</a>
				<a pd-popup-close="shareMarketPriceForMultipleModal" id="btnCancel" class="btn btn-default float-right">Cancel</a>
			</div>
		</div>
	</div>	
	</div>
</div>
<!-- Payment Confirmation Page -->

<!-- Payment Confirmation Success -->
<div class="popup scanning-file" pd-popup="sharePaymentSuccessModal">
    <div class="popup-inner no-border-popup">
		<div class="row">
			<div class="col-6" id="txImage">
				<img id="txImage" src="../images/Tx_UPLOAD_SHARE_MODAL.png" alt="">
			</div>
			<div class="col-6">
				<label id="confirmHeader">Purchased confirmed, thank you for using AVXChange.</label>
				<p id="confirmP">You may stream your media files on stream player or check it out on Account Wallet/Downloads.</p>
				<div class="balance-info">
					<script>
						
					</script>
					<label id="account-balance"><span id="updatedBalance">00</span> AVX</label>
					<p id="confirmPcurrent">Current Balance</p>
				</div>
				<a pd-popup-close="sharePaymentSuccessModal" href="#" id="btnCloseSuccess" class="btn btn-danger float-right">Close</a>
			</div> 
		</div>
    </div>
</div>
<!--/ Payment Confirmation Success -->

<!-- Add to Wishlist Modal -->
<div class="popup validation-event" pd-popup="addToWishlist">
	<div class="popup-inner">
	<h4 class="title-label">Added to Wishlist</h3>
		<button class="btn btn-danger" id="btnWishlistClose">Close</button>
	</div>
</div>
<!-- Add to Wishlist Modal -->

<!-- View Files Modal -->
<div class="popup validation-event" pd-popup="viewFilesModal">
	<div class="popup-view-files">
		<div class="row">
			<div class="col-lg-12 content-header">
				<span class="float-left ml-3">File Content</span>
				<div class="float-right mr-3">
					<span class="mdi mdi-file-outline"></span>
					<span>Size: </span>
					<span id="totalFileSizeLbl">4.09GB</span>
				</div>
			</div>
		</div>
		<div class="popup-view-files-white">
			<div class="generateFileScanned white-file-content scroll-skin">
				<div class="file-scanned">
					<ul class="file-lists">
						<li>
							<p>
								<span class="icon-segoe segoe-v-player float-left"></span>
								<strong>2.Fast.2.Furious.2003.1080p.BrRip.x264.YIFY+HI.srt</strong>
								<strong> - 75.87 KB</strong>
							</p>
						</li>
					</ul>
				</div>
				<div class="file-scanned">
					<ul class="file-lists">
						<li>
							<p>
								<!-- <span class="pointer-cursor item-file-meta icon-segoe segoe-info float-left" file-name="Temple.Grandin.(2010)Hdtv.1080P.X265.HEVC.SWooP.mkv" file-size="1973524754"></span> -->
								<span class="icon-segoe segoe-v-player float-left"></span>
								<strong>Temple.Grandin.(2010)Hdtv.1080P.X265.HEVC.SWooP.mkv</strong>
								<strong> - 1.84 GB</strong>
							</p>
						</li>
					</ul>
				</div>
				<div class="row" id="navBottom">
					<div class="col-lg-6">
							<span id="lineDivider"></span>
					</div>
						<div class="col-lg-6">
							<span class="btn btn-outline-danger" id="btnClosevf">Close</span>
							<span class="btn btn-danger">Buy now</span>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- View Files Modal --> 


<!-- Buying Error  -->
<div class="popup validation-event" pd-popup="ErrorBuyingAsset">
	<div class="popup-inner">
	<h4 class="title-label">Insufficient Funds.</h3>
		<button class="btn btn-danger" id="btnErrorBuyClose">Close</button>
	</div>
</div>
<!-- Buying Error -->

<!--  -->
<div class="popup sendToken" pd-popup="pleaseWaitModal">
		<div class="popup-inner scroll-skin">
		<p> Please Wait. </p>
		</div> 
</div>
<!--  -->

<!-- File Available Files -->
<div class="popup view-files-modal" pd-popup="tvseriesViewFiles">
	<div class="popup-inner no-border-popup view-files-modal-content">
			<div class="row">
					<div class="col-lg-12 mt-5">
							<ul class="float-left">
								<li>
										<span> Trending Movies </span>   
								</li>
								<li>
										<span> Popular Movies </span>
								</li>
							</ul>
					</div>
			</div>
			<div class="row">
				<div class="col-lg-12 table-contents mr-5">
					<table class="table table-hover">
						<thead class="thead-dark">
								<tr>
										<th scope="col"></th>
										<th scope="col">File</th>
										<th scope="col">Downloads</th>
										<th scope="col">Cost(AVX)</th>
										<th scope="col">Ratings</th>
										<th scope="col">Language</th>
										<th scope="col">Subtitle</th>
										<th scope="col">Resolution</th>
										<th scope="col">File size</th>
										<th scope="col">Video Codec</th>
										<th scope="col">Audio Codec</th>
										<th scope="col">Video Bitrate</th>
								</tr>
						</thead> 
						<tbody id="tbodyDetails">
								
						</tbody> 
				</table>  
				</div>
			</div>
		<a class="popup-close-white" pd-popup-close="tvseriesViewFiles" id="btnTopClose"> <span class="mdi mdi-24px mdi-close"></span> </a>
	</div>
</div>

<!-- File Available Files -->
		<!-- <div class="row">
			<div class="col-lg-12">
				<div class="row file-details">
					<div class="col-sm-12 col-md-2">
						<div class="file-feature-img" style="min-height: 173px; max-height: 250px;"></div>
					</div>
					<div class="col-sm-12 col-md-10 ">

						<div class="row file-metadata upper-section">
							<div class="container-fluid">
									<div class="row mt-2">
										<div class="col-2">
											<span> Title: </span>
										</div>
										<div class="col-10 upper-section-data">
											<span id="file-title"></span>
											<span class="resolution-data">1080p</span>
										</div>
									</div>
				
									<div class="row mt-2">
										<div class="col-2">
											<span> Runtime: </span>
										</div>
										<div class="col-10 upper-section-data">
											<span class="runtime">2 H 54 min</span>
										</div>
									</div>
				
									<div class="row mt-2">
										<div class="col-2">
											<span> Released: </span>
										</div>
										<div class="col-10 upper-section-data">
											<span class="releasedYear">2018</span>
										</div>
									</div>
				
									<div class="row mt-2">
										<div class="col-2">
										<span> Type: </span>
										</div>
										<div class="col-10 upper-section-data">
											<span class="type">Movie</span>
										</div>
									</div>

							</div>
						</div>

						<h5 class="label-with-border">Audio Language and Subtitle: </h5>

						<div class="row file-metadata audio-subtitle">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-2">
										<p>Audio: </p>
									</div>
									<div class="col-md-10">
										<strong class="red-text">English (ACC Stereo), Francis(ACC Mono), Francis(ACC Stereo)</strong>
									</div>
								</div>

								<div class="row">
									<div class="col-md-2">
										<p>Subtitle: </p>
									</div>
									<div class="col-md-10">
										<strong class="red-text">English (ACC Stereo), Francis(ACC Mono), Francis(ACC Stereo)</strong>
									</div>
								</div>
							</div>
						</div>

						<h5 class="label-with-border">Pricing Data Points: </h5>
						<div class="meta-data-details no-padding">
							<div class=""><br><br><br>
								<label class="full-width">Title: <strong>Shaun The Sheep : The Movie</strong> </label>
								<label class="full-width">Time: <strong>16:58:12 (UTC + 08:00) Kuala Lumpur, Singapore</strong> </label>
								<label class="full-width">Date: <strong>Monday, 03-December-2018</strong> </label>
							</div>


							<div class=""><br><br><br>
								<span class="col-md-3" style="padding-left: 0">iTunes: <strong>$9.50 USD</strong> </span>
								<span class="col-md-3">Google: <strong>$9.50 USD</strong>  </span>
								<span class="col-md-3">Amazon: <strong>$10.50 USD</strong>  </span>
								<span class="col-md-3" style="padding-right: 0">Microsoft: <strong>$9.70 USD</strong>  </span>
							</div>	 


							<div class=""><br><br>
								<span class="col-md-3" style="padding-left: 0">USD to BTC Rate: <strong>$9.50 USD</strong> </span>
								<span class="col-md-3">BTC to AVX Rate: <strong>$9.50 USD</strong>  </span>
								<br><br><br><br><br><br>
							</div>	

							<div class="payment-break-down mb-5">
								<h5 class="label-with-border break-down">See where your money goes </h5>
								<ul class="ml-5">
									<li>
										60% = <span id="sixtyP"></span> AVX goes to Intellectual Property owners acount.
									</li>
									<li>
										35% = <span id="thirtyP"></span> AVX, normally goes to file uploaders, but on file genesis, this goes to the AVX network as a fee to save the new file into the avx network. Please note you will not be uploading this file at this time, it is only entered into the records as being available from you. Any and all uploading will be compensated.
									</li>
									<li>
										5% = <span id="fiveP"></span> AVX will go to the nodes maintaining the AVX network.
									</li>
								</ul>
							</div>
								
						</div>					
					</div>
				</div>
			</div>
		</div> -->
<!-- Mao ni tong naay toggle hide/show -->
<!-- <div class="popup scan-result" pd-popup="shareMarketPriceForMultipleModal">
	<div class="popup-inner scroll-skin no-padding">
	<div class="padding-modal">
		<div class="row file-details">
			
			<div class="col-sm-12 col-md-12">
				<img class="popup-avx-logo float-left" src="../images/logo_white.png">
				<p class="float-left popup-avx-logo-title" style="margin-left:10px"> AVXChange Market Price Analytics</p>
			</div>
		</div>
		<div class="row file-details file-payment-lists">
				
			<div class="row section-line-divider mb-5 mt-5">
				<div class="col-md-3">
					<span id="fileTitle">Snakes On A Plane</span>
				</div>
				<div class="col-md-6">
					
				</div>
				<div class="col-md-3">
					<span id="filePrice">100 AVX</span>
					<span class="mdi mdi-arrow-down-circle" id="breakFileOne"></span>
				</div>
			</div>

			<div id="fileOne">
				<div class="col-sm-12 col-md-2">
					<div class="file-feature-img" style="min-height: 173px; background-image: url('')"></div>
				</div>
				<div class="col-sm-12 col-md-10">

					<div class="row file-metadata">
						<div class="col-12">
							<p>Title: </p>
							<strong class="col-12 file-title"></strong>
							
							<p class="file-subdata">
								<strong>---</strong>
							</p>
						</div>
						<div class="col-12">
							<p>Runtime: </p>
							<strong class="col-12 "></strong>
						</div>
						<div class="col-12">
							<p>Released: </p>
							<strong class="col-12"></strong>
						</div>
						<div class="col-12">
							<p>Type: </p>
							<strong class="col-12"></strong>
						</div>
					</div>

					<h5 class="label-with-border">Audio Language and Subtitle: </h5>

					<div class="row file-metadata">
						<div class="col-12">
							<p>Audio: </p>
							<strong class="col-12 red-text">---</strong>
						</div>
						<div class="col-12">
							<p>Subtitle: </p>
							<strong class="col-12 red-text">---</strong>
						</div>
					</div>
					
					

					<h5 class="label-with-border">Pricing Data Points: </h5>
					<div class="meta-data-details no-padding">


					<div class=""><br><br><br>
						<label class="full-width">Time: <strong>16:58:12 (UTC + 08:00) Kuala Lumpur, Singapore</strong> </label>
						<label class="full-width">Date: <strong>Monday, 03-December-2018</strong> </label>
					</div>


					<div class=""><br><br><br>
						<span class="col-md-3" style="padding-left: 0">iTunes: <strong>$9.50 USD</strong> </span>
						<span class="col-md-3">Google: <strong>$9.50 USD</strong>  </span>
						<span class="col-md-3">Amazon: <strong>$10.50 USD</strong>  </span>
						<span class="col-md-3" style="padding-right: 0">Microsoft: <strong>$9.70 USD</strong>  </span>
					</div>	


					<div class=""><br><br>
						<span class="col-md-3" style="padding-left: 0">USD to BTC Rate: <strong>$9.50 USD</strong> </span>
						<span class="col-md-3">BTC to AVX Rate: <strong>$9.50 USD</strong>  </span>
						<br><br><br><br><br><br>
					</div>	
						
						
					</div>

					<div class="row meta-data-details">
						<canvas id="surface" width="677.286px" height="250"></canvas>
						<script type="text/javascript">
						json = {
							status : 1140,
							data : {
								title	: 'the avengers'
							}
						}
						
						let jsonString = JSON.stringify(json);
							
						ipcRenderer.send('avx-share-crawl-price-source', jsonString);
						ipcRenderer.on('avx-share-crawl-price-source-result', (event, data) => {
							jsonString = JSON.stringify(data);

							json = {
								status : 1139,
							
								priceSource	: 'D:\\myrepo\\temp.txt'
								
							}
							
							jsonString = JSON.stringify(json);
								
							ipcRenderer.send('avx-share-crawl-price-data-points', jsonString);
							ipcRenderer.on('avx-share-crawl-price-data-points-result', (event, data) => {
								jsonString = JSON.stringify(data);
								console.log(data);
							});
						});
						
							setTimeout(function() {
								
								let pr = new PriceRuler("surface", 10, 250, 13, 0);
								pr.setDataPoints([3.96, 145.6, 30, 112, 19.5]);
								pr.render();
								
								pr.setPrice(10);
								
							},
							1000);
						</script>
					</div>					
				</div>
			</div>
		</div>




		<a class="popup-close" pd-popup-close="shareMarketPriceForMultipleModal" href="#"> </a>
	</div>
	
	<div class="popup-inner-white">
		<div class="row">
			<div class="col-8 mt-5">
				<p style="font-size: 18px" id="whiteP"> (AVX Token Price) </p>
			</div>

			<div class="col-4 mt-5">
			<span id="priceAVX">13.5 AVX</span>
			</div>
		</div>
		<hr id="hr"/>
		<div class="row mb-5">
			<div class="col-8">
				<div class="row file-details" style="margin: 0px;">
						<div class="row file-metadata" style="padding: 0;">
							<div class="row">
								<p class="pl-1">
									<span id="walletBalance" style="font-size: 18px; color:#4ab65c;"></span> <span  style="font-size: 18px; color:#4ab65c;">AVX</span>
									<span class="mdi mdi-shopping-music"></span>
								</p>
							</div>
							<div class="row">
								<p class="pl-1 mt-3">
									<span style="font-size: 10px">Account Wallet Ballance</span>
								</p>
							</div>
						</div>
					</div>
			</div>
			<div class="col-4">
				<a href="#" id="executePayment" class="btn btn-danger float-right">Share/Pay</a>
				<a pd-popup-close="shareMarketPriceForMultipleModal" href="#" id="btnCancel" class="btn btn-default float-right">Cancel</a>
			</div>
		</div>
	</div>	
	</div>
</div> -->
<!-- Mao ni tong naay toggle hide/show -->