 <div class="popup scanning-file" pd-popup="shareScanningModal">
    <div class="popup-inner">
      <p><span class="mdi mdi-loading mdi-spin mdi-48px"></span></p>
	  <h2 id="stat"><span class="counter" data-count="100">0</span>%</h2>
	  <h4 class="title-label" >Scanning user files...</h3>
	  <a class="popup-close" pd-popup-close="shareScanningModal" href="#"> </a>
	  <input type="hidden" id="fullFilePathDir">
	  <input type="hidden" id="fullThumbPathDir">
    </div>
</div>

 <div class="popup scan-result" pd-popup="shareScanResultModal">
    <div class="popup-inner scroll-skin">
        <h1 class="title-holder">
			<span class="icon-segoe segoe-tree-folder-folder float-left" id="icon-vid"></span> 
			File(s) scanning result
		</h1>
		<div class="generateFileScanned scroll-skin" >
		</div>		
		
		<h5 class="label-with-border">Audio Language & Subtitle: </h5>
		<div class="row meta-data-details">
			<div class="col-6">
				<label>Subtitles:</label>
				<select>
					<option>English (SRT External)</option>
				</select>

				<br><br>
				<label>Codec: <strong>---</strong> </label><br>
				<label>Language: <strong>---</strong> </label><br>
				<label>Display Title: <strong>---</strong> </label>
		
			</div>
			<div class="col-6">
				<label>Audio:</label>
				<select>
					<option>English (ACC Stereo)</option>
				</select>

				<br><br>
				<label>Codec: <strong>---</strong> </label><br>
				<label>Language: <strong>---</strong> </label><br>
				<label>Display Title: <strong>---</strong> </label>

			</div>	
			
			
		</div>


		<h5 class="label-with-border">Media details: </h5>

		<div class="row meta-data-details">
			<div class="col-6">
				<label class="full-width video-reso">Video Resolution: <strong>---</strong> </label>
				<label class="full-width video-duration">Duration: <strong>---</strong> </label>
				<label class="full-width video-size">Size: <strong>---</strong> </label>
				<label class="full-width audio-video-bitrate">Audio & Video Bitrate: <strong>---</strong> </label>
				<label class="full-width video-width">Width: <strong>---</strong> </label>
				<label class="full-width video-height">Height: <strong>---</strong> </label>
				<label class="full-width aspect-ratio">Aspect Ratio: <strong>---</strong> </label>
				<label class="full-width video-container">Container: <strong>---</strong> </label>
				<label class="full-width video-frame-rate">Video Frame Rate: <strong>---</strong> </label>
				<label class="full-width">Web Optimized: <strong>--</strong> </label>
				<label class="full-width video-profile">Video Profile: <strong>---</strong> </label>
				<label class="full-width video-codec">Video Codec: <strong> ---</strong> </label>

			</div>
			<div class="col-6">
				<label class="full-width bit-depth">Bit Depth: <strong>---</strong> </label>
				<label class="full-width video-frame-rate">Frame Rate: <strong>--- fps</strong> </label>
				<label class="full-width audio-codec">Audio Codec: <strong>---</strong> </label>
				<label class="full-width audio-channels">Audio Channels: <strong>---</strong> </label>
				<label class="full-width">Audio Bitrate: <strong>--- kbps</strong> </label>
				<label class="full-width">Audio Channel Layout: <strong>----</strong> </label>
				<label class="full-width">Sampling Rate: <strong>--- Hz</strong> </label>

			</div>
		</div>		
		
		
		<p class="file-dir-info">
			Local Media Directory:  
			<span style="margin-left:10px;"> --- </span>
			<span class="icon-segoe segoe-info float-right"></span> 
		</p>
		<div class="share-modal-options row">
			<div class="col-7">
				<h5 style="text-align: left;">Proceed to scan metadata for your file asset?</h5>
			</div>
			<div class="col-5">
				 <a href="#" id="proceedAfterFileScanning" class="btn btn-danger float-right">Yes, proceed</a>
				 <a pd-popup-close="shareScanResultModal" href="#" class="btn btn-default float-right">No</a>
			</div>
		</div>
      
	  <a class="popup-close" pd-popup-close="shareScanResultModal" href="#"> </a>
    </div>
</div>

 <div class="popup scanning-file" pd-popup="shareComparingFilesToNetworkModal">
    <div class="popup-inner">
      <p><span class="mdi mdi-loading mdi-spin mdi-48px"></span></p>
	  <h2 id="stat"><span class="counter" data-count="100">0</span>%</h2>
	  <h4 class="title-label" >Please wait, while retrieving metadata on <br> AVXChange networkfor your files.</h3>
	  <a class="popup-close" pd-popup-close="shareComparingFilesToNetworkModal" href="#"> </a>
    </div>
</div>

 <div class="popup scan-result" pd-popup="shareExistAvxNetwork">
    <div class="popup-inner scroll-skin">
        <h1 class="title-holder">
			<span class="icon-segoe segoe-tree-folder-folder float-left" id="icon-vid"></span> 
			Metadata scanning result
		</h1>


		<div class="generateFileScanned scroll-skin">
			<div class="file-scanned">
				<label class="title toggleable">
					<p> 
						<span class="icon-segoe segoe-flick-left float-left toogle-icon"></span> 
						<span class="icon-segoe segoe-tree-folder-folder float-left"></span> 
						<span>Shaun the Sheep (2018)[BluRay][1080p][YTS.AM]</span>
						<span class="icon-segoe segoe-completed-solid color-success"></span>
					</p>
				</label>
				<ul class="file-lists">
					<li> 
						<p  class="color-danger">
							<span class="icon-segoe segoe-info color-danger float-left"></span> 
							<span class="icon-segoe segoe-v-player  color-danger float-left"></span> 
							<span>shaun-the-sheep-2018-BluRay-1080p.mp4 - </span>
							<strong class=" color-danger">1.91 GB</strong>
							<span class="icon-segoe segoe-repeat-all color-danger"></span>
						<p>
					</li>
					<li> 
						<p>
							<span class="icon-segoe segoe-v-player float-left"></span> 
							<span>shaun-the-sheep-2018-BluRay-1080p.str - </span>
							<strong>1.2 KB</strong>
							<span class="mdi mdi-loading mdi-spin mdi-48px"></span>
						<p>
					</li>
				</ul>
			</div>
		</div>
		

		<p class="file-dir-info">
			Local Media Directory:  
			<span style="margin-left:10px;"> S:\Torrent-Data\downloads\Shaun the Sheep (2018)[BluRay][1080p][YTS.AM]</span>
			<span class="icon-segoe segoe-info float-right"></span> 
		</p>
		

		<div class="share-modal-options row">
			<div class="col-8">
				<p style="font-size: 20px;">Are these the files do you want to share?<br> 
					<span style="font-size: 15px;">
						Next step will merge the file asset with IP metadata.
					</span>
				</p>
			</div>
			<div class="col-4">
				 <a href="#" id="proceedAfterConfirmFileNotExist" class="btn btn-danger float-right">Yes, proceed</a>
				 <a pd-popup-close="shareExistAvxNetwork" href="#" class="btn btn-default float-right">No</a>
			</div>
		</div>
      
	  <a class="popup-close" pd-popup-close="shareExistAvxNetwork" href="#"> </a>
    </div>
</div>


 <div class="popup scanning-file" pd-popup="shareGettingMetaDataLoadingModal">
    <div class="popup-inner">
      <p><span class="mdi mdi-loading mdi-spin mdi-48px"></span></p>
	  <h2 id="stat"><span class="counter" data-count="100">0</span>%</h2>
	  <h4 class="title-label" >Please wait, while retrieving metadata on <br> AXVChange network for your files.</h3>
	  <a class="popup-close" pd-popup-close="shareComparingFilesToNetworkModal" href="#"> </a>
    </div>
</div>


 <div class="popup scan-result" pd-popup="shareConfirmMetadataModal">
    <div class="popup-inner scroll-skin">        
	<h1 class="title-holder" style="margin-bottom: 55px; font-size: 24px;" >
		<span class="icon-segoe segoe-check-mark float-left" id="icon-vid"></span> 
		Metadata and file asset merged success
	</h1>
		<div class="row file-details">
			<div class="col-sm-12 col-md-3">
				<div class="file-feature-img" style="background-image: url('https://tinyurl.com/ycjjsd24')"></div>
			</div>
			<div class="col-sm-12 col-md-9 ">
				<h1 class="file-title">
					Shaun The Sheep : The Movie
					<span class="file-year">2001</span>
				</h1>
				<p class="file-subdata">
					1 hr 59 min 
					<strong> PG-13 </strong>
				</p>
				<div class="row file-metadata">
					<div class="col-12">
						<p>Directed By: </p>
						<strong class="col-12"> Jake Malse</strong>
					</div>
					<div class="col-12">
						<p>Producer: </p>
						<strong class="col-12">William Teitler</strong>
					</div>
					<div class="col-12">
						<p>Written By: </p>
						<strong class="col-12">John Sparkes, Kate Harbour, Justin Fletcher</strong>
					</div>
					<div class="col-12">
						<p>Studio: </p>
						<strong class="col-12">Sony Pictures</strong>
					</div>
					<div class="col-12">
						<p>Genre: </p>
						<strong class="col-12">Animated Series, Adventure</strong>
					</div>
				</div>
			</div>
			
			<div class="row file-metadata" style="padding-top: 70px;">
				<div class="col-12">
					<p class="full-width">
						The Farmer is playing the piano and torturing everyone with his musical inability. When the Flock discover that Bitzer on the other hand is a virtuoso, they decide it's time for a party. They devise a plan to `borrow' the piano when the Farmer goes to bed - however things don't quite go to plan.
					</p>
				</div>
			</div>
			
			<div class="row file-metadata">
				<div class="col-12 file-actor">
					<h3 class="file-actor-heading">Actors</h3>
					<div class="row file-actor-content">
						<!--  SAMPLE ACTOR -->
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						
						<!--  SAMPLE END -->
					</div>
				</div>
			</div>
		</div>
		
		<div class="row file-details">
			<h5 class="label-with-border">Movie Assets: </span>  </h5>
			<div class="row file-metadata">
				<div class="col-12 file-movie">
				
					<div class="row file-movie-content">
						<!--  SAMPLE MOVIE -->
						<div class="col-2 file-movie-details">
							<div class="img active" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="title">Shaun The Sheep : The Movie</label>
							<p class="year"> 2000 </p>
						</div>
						<div class="col-2 file-movie-details">
							<div class="img" style="background-image: url('http://tinyurl.com/yyxemkny')" ></div>
							<label class="title">Early Man: The Movie</label>
							<p class="year"> 2011 </p>
						</div>
						<div class="col-2 file-movie-details">
							<div class="img" style="background-image: url('http://tinyurl.com/y5m7y5av')" ></div>
							<label class="title">Wallace & Gromit</label>
							<p class="year"> 2013 </p>
						</div>
						<div class="col-2 file-movie-details">
							<div class="img" style="background-image: url('http://tinyurl.com/y4xn55zq')" ></div>
							<label class="title">Fishtales 3 : The Movie</label>
							<p class="year"> 2008 </p>
						</div>
						<div class="col-2 file-movie-details">
							<div class="img" style="background-image: url('http://tinyurl.com/y5owz3cj')" ></div>
							<label class="title">Popcorntime</label>
							<p class="year"> 2014 </p>
						</div>
						<div class="col-2 file-movie-details">
							<div class="img" style="background-image: url('http://tinyurl.com/y6pd49cc')" ></div>
							<label class="title">The Good Dinosaur</label>
							<p class="year"> 2015 </p>
						</div>
						
						<!--  SAMPLE END -->
					</div>
				</div>
			</div>
		</div>
		
		<h5 class="label-with-border">Media details: </h5>
		<div class="row meta-data-details">
			<div class="col-6">
				<label>Subtitles:</label>
				<select>
					<option>English (SRT External)</option>
				</select>

				<br><br>
				<label>Codec: <strong>STR</strong> </label><br>
				<label>Language: <strong>English</strong> </label><br>
				<label>Display Title: <strong>English(STR External)</strong> </label>
		
			</div>
			<div class="col-6">
				<label>Audio:</label>
				<select>
					<option>English (ACC Stereo)</option>
				</select>

				<br><br>
				<label>Codec: <strong>ASS</strong> </label><br>
				<label>Language: <strong>English</strong> </label><br>
				<label>Display Title: <strong>English(ASS)</strong> </label>

			</div>

			<div class="col-4"><br><br>
				<label class="full-width video-reso">Video Resolution: <strong>1080p</strong> </label>
				<label class="full-width video-duration">Duration: <strong>1:59:01</strong> </label>
				<label class="full-width video-size">Size: <strong>1.91 GB</strong> </label>
				<label class="full-width audio-video-bitrate">Audio & Video Bitrate: <strong>2298 kbps</strong> </label>
				<label class="full-width video-width">Width: <strong>1920</strong> </label>
				<label class="full-width video-height">Height: <strong>800</strong> </label>
				<label class="full-width aspect-ratio">Aspect Ratio: <strong>2.35</strong> </label>

			</div>
			
			<div class="col-4"><br><br>	
				
				<label class="full-width video-container">Container: <strong>MP4</strong> </label>
				<label class="full-width video-frame-rate">Video Frame Rate: <strong>800</strong> </label>
				<label class="full-width">Web Optimized: <strong>Yes</strong> </label>
				<label class="full-width video-profile">Video Profile: <strong>High</strong> </label>
				<label class="full-width video-codec">Video Codec: <strong>1011 kbps</strong> </label>
				<label class="full-width ">Video Bitrate: <strong>1011 kbps</strong> </label>

			</div>
			<div class="col-4"><br><br>
				<label class="full-width bit-depth">Bit Depth: <strong>8</strong> </label>
				<label class="full-width video-frame-rate">Frame Rate: <strong>23.965 fps</strong> </label>
				<label class="full-width audio-codec">Audio Codec: <strong>AAC</strong> </label>
				<label class="full-width audio-channels">Audio Channels: <strong>2</strong> </label>
				<label class="full-width">Audio Bitrate: <strong>149 kbps</strong> </label>
				<label class="full-width">Audio Channel Layout: <strong>Stereo</strong> </label>
				<label class="full-width">Sampling Rate: <strong>48000 Hz</strong> </label>

			</div>	
			<div class="col-12">
				
				<div class="generateFileScanned scroll-skin" >
					<div class="file-scanned">
						<label class="full-width text-indent">File Assets: </label>
						<label class="title toggleable">
							<p> 
								<span class="icon-segoe segoe-flick-left float-left toogle-icon"></span> 
								<span class="icon-segoe segoe-tree-folder-folder float-left"></span> 
								Shaun the Sheep (2018)[BluRay][1080p][YTS.AM]
							</p>
						</label>
						<ul class="file-lists">
							<li> 
								<p class="selectable-asset-preview">
									<span class="icon-segoe segoe-v-player float-left"></span> 
									shaun-the-sheep-2018-BluRay-1080p.mp4 - 
									<strong>1.91 GB</strong>
								<p>
							</li>
							<li> 
								<p class="selectable-asset-preview">
									<span class="icon-segoe segoe-v-player float-left"></span> 
									shaun-the-sheep-2018-BluRay-1080p.str - 
									<strong>1.2 KB</strong>
								<p>
							</li>
						</ul>
					</div>
				</div>	
			</div>
			
			
		</div>
	
		
		
		<h5 class="label-with-border">IP Ownership <span class="mdi mdi-information-outline"></span>  </h5>
		<div class="row file-details">
			<div class="row file-metadata">
				<div class="col-12">
					<p class="full-width text-indent">This intellectual property has an AVX token account</p>
					<p class="full-width text-indent">AVX Account Name: <strong><u>Sony Pictures\ShaunTheSheep2001</u></strong></p>
					
					<p class="full-width text-indent"><br><br><br>Do you own the rights to this intellectual property? 
						<span class="icon-segoe segoe-warning"></span> <u>Warning!</u>
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 file-details">
			<a href="" id="claimThisAccount" class="btn btn-default float-left" style="margin-left: 17px;">Claim this account</a>
		</div>
 
		<div class="share-modal-options row">
			<div class="col-8">
				<p style="font-size: 22px;">Proceed to AVXChange network file genesis payment?</p>
				<div class="row file-details" style="margin: 0px;">
					<div class="row file-metadata" style="padding: 0;">
						<div class="">
							<p class="full-width" id="confirmFilesInformation" style="cursor: pointer">
								<input type="checkbox" >
								<span for="confirmFilesInformation">I have reviewed all of the above information and it appears correct</span>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-4">
				 <a href="#" id="proceedProceedPaymentCart" class="btn btn-danger float-right disabled">Pay now</a>
				 <a pd-popup-close="shareIntellectualPropertyConfirmationModal" href="#" class="btn btn-default float-right">Cancel</a>
			</div>
		</div>
	  <a class="popup-close" pd-popup-close="shareConfirmMetadata" href="#"> </a>
    </div>
</div>


 <div class="popup scanning-file" pd-popup="shareMergingAVXnetworkModal">
    <div class="popup-inner">
      <p><span class="mdi mdi-loading mdi-spin mdi-48px"></span></p>
	  <h2 id="stat"><span class="counter" data-count="100">0</span>%</h2>
	  <h4 class="title-label" >Please wait, while retrieving metadata on <br> AXVChange network for your files.</h3>
	  <a class="popup-close" pd-popup-close="shareComparingFilesToNetworkModal" href="#"> </a>
    </div>
</div>


 <div class="popup scan-result" pd-popup="shareIntellectualPropertyModal">
    <div class="popup-inner scroll-skin">
		<div class="row file-details">
			<div class="col-sm-12 col-md-3">
				<div class="file-feature-img" style="background-image: url('https://tinyurl.com/ycjjsd24')"></div>
			</div>
			<div class="col-sm-12 col-md-9 ">
				<h1 class="file-title">
					Shaun The Sheep : The Movie
					<span class="file-year">2001</span>
				</h1>
				<p class="file-subdata">
					1 hr 59 min 
					<strong> PG-13 </strong>
				</p>
				<div class="row file-metadata">
					<div class="col-12">
						<p>Directed By: </p>
						<strong class="col-12"> Jake Malse</strong>
					</div>
					<div class="col-12">
						<p>Written By: </p>
						<strong class="col-12">John Sparkes, Kate Harbour, Justin Fletcher</strong>
					</div>
					<div class="col-12">
						<p>Studio: </p>
						<strong class="col-12">Sony Pictures</strong>
					</div>
					<div class="col-12">
						<p>Genre: </p>
						<strong class="col-12">Animated Series, Adventure</strong>
					</div>
					<div class="col-12">
						<p>Audio: </p>
						<strong class="col-12 red-text">English (ACC Stereo), Francias (ACC Mono), Francias (ACC Stereo) </strong>
					</div>
					<div class="col-12">
						<p>Subtitles: </p>
						<strong class="col-12 red-text">English (SRT External), English(ASS)</strong>
					</div>
				</div>
			</div>
			
			<div class="row file-metadata">
				<div class="col-12">
					<p class="full-width">
						The Farmer is playing the piano and torturing everyone with his musical inability. When the Flock discover that Bitzer on the other hand is a virtuoso, they decide it's time for a party. They devise a plan to `borrow' the piano when the Farmer goes to bed - however things don't quite go to plan.
					</p>
				</div>
			</div>
			
			<div class="row file-metadata">
				<div class="col-12 file-actor">
					<h3 class="file-actor-heading">Actors</h3>
					<div class="row file-actor-content">
						<!--  SAMPLE ACTOR -->
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						
						<!--  SAMPLE END -->
					</div>
				</div>
			</div>
		</div>
		

		<div class="share-modal-options row">
			<div class="col-7">
				<p style="font-size: 22px;">Does this intellectual property belong to you?</p>
				<div class="row file-details" style="margin: 0px;">
					<div class="row file-metadata" style="padding: 0;">
						<div class="">
							<p class="full-width">Do you own the rights to this intellectual property? 
								<span class="mdi mdi-alert-outline"></span> <u>Warning!</u>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-5">
				 <a href="#" id="proceedAfterVerifyIntellectualProperty" class="btn btn-danger float-right">Yes, proceed</a>
				 <a pd-popup-close="shareConfirmMetadata" href="#" class="btn btn-default float-right">No</a>
			</div>
		</div>
	  <a class="popup-close" pd-popup-close="shareConfirmMetadata" href="#"> </a>
    </div>
</div>


 <div class="popup scan-result" pd-popup="shareIntellectualPropertyConfirmationModal">
    <div class="popup-inner scroll-skin">
		<div class="row file-details">
			<div class="col-sm-12 col-md-3">
				<div class="file-feature-img" style="background-image: url('https://tinyurl.com/ycjjsd24')"></div>
			</div>
			<div class="col-sm-12 col-md-9 ">
				<h1 class="file-title">
					Shaun The Sheep : The Movie
					<span class="file-year">2001</span>
				</h1>
				<p class="file-subdata">
					1 hr 59 min 
					<strong> PG-13 </strong>
				</p>
				<div class="row file-metadata">
					<div class="col-12">
						<p>Directed By: </p>
						<strong class="col-12"> Jake Malse</strong>
					</div>
					<div class="col-12">
						<p>Written By: </p>
						<strong class="col-12">John Sparkes, Kate Harbour, Justin Fletcher</strong>
					</div>
					<div class="col-12">
						<p>Studio: </p>
						<strong class="col-12">Sony Pictures</strong>
					</div>
					<div class="col-12">
						<p>Genre: </p>
						<strong class="col-12">Animated Series, Adventure</strong>
					</div>
					<div class="col-12">
						<p>Audio: </p>
						<strong class="col-12 red-text">English (ACC Stereo), Francias (ACC Mono), Francias (ACC Stereo) </strong>
					</div>
					<div class="col-12">
						<p>Subtitles: </p>
						<strong class="col-12 red-text">English (SRT External), English(ASS)</strong>
					</div>
				</div>
			</div>
			
			<div class="row file-metadata">
				<div class="col-12">
					<p class="full-width">
						The Farmer is playing the piano and torturing everyone with his musical inability. When the Flock discover that Bitzer on the other hand is a virtuoso, they decide it's time for a party. They devise a plan to `borrow' the piano when the Farmer goes to bed - however things don't quite go to plan.
					</p>
				</div>
			</div>
			
			<div class="row file-metadata">
				<div class="col-12 file-actor">
					<h3 class="file-actor-heading">Actors</h3>
					<div class="row file-actor-content">
						<!--  SAMPLE ACTOR -->
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						<div class="col-2 file-actor-details">
							<div class="img" style="background-image: url('https://tinyurl.com/ycjjsd24')" ></div>
							<label class="name">Rich Webber</label>
							<p class="role"> The Farmer </p>
						</div>
						
						<!--  SAMPLE END -->
					</div>
				</div>
			</div>
		</div>


		<h5 class="label-with-border">Media, Subtitle & Audio Info: </h5>
		<div class="row meta-data-details">
			<div class="col-6">
				<label>Subtitles:</label>
				<select>
					<option>English (SRT External)</option>
				</select>

				<br><br>
				<label>Codec: <strong>STR</strong> </label>
				<label>Language: <strong>English</strong> </label>
				<label>Display Title: <strong>English(STR External)</strong> </label>
		
			</div>
			<div class="col-6">
				<label>Audio:</label>
				<select>
					<option>English (ACC Stereo)</option>
				</select>

				<br><br>
				<label>Codec: <strong>ASS</strong> </label>
				<label>Language: <strong>English</strong> </label>
				<label>Display Title: <strong>English(ASS)</strong> </label>

			</div>


			<div class="col-4"><br><br><br>
				<label class="full-width video-reso">Video Resolution: <strong>1080p</strong> </label>
				<label class="full-width video-duration" >Duration: <strong>1:59:01</strong> </label>
				<label class="full-width video-size">Size: <strong>1.91 GB</strong> </label>
				<label class="full-width audio-video-bitrate">Audio & Video Bitrate: <strong>2298 kbps</strong> </label>
				<label class="full-width video-width">Width: <strong>1920</strong> </label>
				<label class="full-width video-height">Height: <strong>800</strong> </label>
				<label class="full-width aspect-ratio">Aspect Ratio: <strong>2.35</strong> </label>
			</div>
			
			<div class="col-4"><br><br><br>
				<label class="full-width video-container">Container: <strong>MP4</strong> </label>
				<label class="full-width video-frame-rate">Video Frame Rate: <strong>800</strong> </label>
				<label class="full-width">Web Optimized: <strong>Yes</strong> </label>
				<label class="full-width video-profile">Video Profile: <strong>High</strong> </label>
				<label class="full-width video-codec">Video Codec: <strong>H264</strong> </label>
				<label class="full-width video-bitrate">Video Bitrate: <strong>1011 kbps</strong> </label>				
			</div>
			
			<div class="col-4"><br><br><br>
				<label class="full-width bit-depth">Bit Depth: <strong>8</strong> </label>
				<label class="full-width video-frame-rate">Frame Rate: <strong>23.965 fps</strong> </label>
				<label class="full-width audio-codec">Audio Codec: <strong>AAC</strong> </label>
				<label class="full-width audio-channels">Audio Channels: <strong>2</strong> </label>
				<label class="full-width">Audio Bitrate: <strong>149 kbps</strong> </label>
				<label class="full-width">Audio Channel Layout: <strong>Stereo</strong> </label>
				<label class="full-width">Sampling Rate: <strong>48000 Hz</strong> </label>

			</div>			
			
			
		</div>
		
		<h5 class="label-with-border">IP Ownership <span class="mdi mdi-information-outline"></span>  </h5>
		<div class="row file-details">
			<div class="row file-metadata">
				<div class="col-12">
					<p class="full-width">This intellectual property has an AVX token account</p>
					<p class="full-width">AVX Account Name: <strong><u>Sony Pictures\ShaunTheSheep2001</u></strong></p>
					<p class="full-width">Do you own the rights to this intellectual property? 
						<span class="mdi mdi-alert-outline"></span> <u>Warning!</u>
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 file-details">
			<a href="" id="claimThisAccount" class="btn btn-default float-right">Claim this account</a>
		</div>
		
		<h5 class="label-with-border">Local media directory: </h5>

		<p class="file-dir-info" style="margin-left: 30px">
			File Directory:  
			<span style="margin-left:10px;"> S:\Torrent-Data\downloads\Shaun the Sheep (2018)[BluRay][1080p][YTS.AM]</span>
			<span class="icon-segoe segoe-info float-right"></span> 
		</p>


        <h5 class="label-with-border">Media files: </h5>
        <div class="generateFileScanned scroll-skin" >
			<div class="file-scanned">
				<label class="title">
					<p> 
						<span class="icon-segoe segoe-tree-folder-folder"></span> 
						Shaun the Sheep (2018)[BluRay][1080p][YTS.AM]
					</p>
				</label>
				<ul class="file-lists">
					<li> 
						<p>
							<span class="icon-segoe segoe-v-player"></span> 
							shaun-the-sheep-2018-BluRay-1080p.mp4 - 
							<strong>1.91 GB</strong>
						<p>
					</li>
					<li> 
						<p>
							<span class="icon-segoe segoe-v-player"></span> 
							shaun-the-sheep-2018-BluRay-1080p.str - 
							<strong>1.2 KB</strong>
						<p>
					</li>
				</ul>
			</div>
		</div>		
		
		<div class="share-modal-options row">
			<div class="col-8">
				<p style="font-size: 22px;">Proceed to AVXChange network file genesis payment?</p>
				<div class="row file-details" style="margin: 0px;">
					<div class="row file-metadata" style="padding: 0;">
						<div class="">
							<p class="full-width">
								<input type="checkbox" id="confirmFilesInformation">
								<span>I have reviewed all of the above information and it appears correct</span>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-4">
				 <a href="#" id="proceedProceedPaymentCart" class="btn btn-danger float-right">Pay now</a>
				 <a pd-popup-close="shareIntellectualPropertyConfirmationModal" href="#" class="btn btn-default float-right">Cancel</a>
			</div>
		</div>
	  <a class="popup-close" pd-popup-close="shareIntellectualPropertyConfirmationModal" href="#"> </a>
    </div>
</div>

<!-- Payment Confirmation Page -->

 <div class="popup scan-result" pd-popup="shareMarketPriceModal">
    <div class="popup-inner scroll-skin">
		<div class="row file-details">
			
			<div class="col-sm-1 col-md-1">
				<img class="popup-avx-logo float-left" src="../images/logo_white.png">
			</div>
			
			<div class="col-sm-11 col-md-11">
				<p class="float-left popup-avx-logo-title"> AVXChange Market Price Analytics</p>
			</div>
		</div>
		<div class="row file-details">
			<div class="col-sm-12 col-md-3">
				<div class="file-feature-img" style="background-image: url('https://tinyurl.com/ycjjsd24')"></div>
			</div>
			<div class="col-sm-12 col-md-9 ">
				<h1 class="file-title">
					Shaun The Sheep : The Movie
					<span class="file-year">2001</span>
				</h1>
				<p class="file-subdata">
					1 hr 59 min 
					<strong> PG-13 </strong>
				</p>
				<div class="row file-metadata">
					<div class="col-12">
						<p>Directed By: </p>
						<strong class="col-12"> Jake Malse</strong>
					</div>
					<div class="col-12">
						<p>Written By: </p>
						<strong class="col-12">John Sparkes, Kate Harbour, Justin Fletcher</strong>
					</div>
					<div class="col-12">
						<p>Studio: </p>
						<strong class="col-12">Sony Pictures</strong>
					</div>
					<div class="col-12">
						<p>Genre: </p>
						<strong class="col-12">Animated Series, Adventure</strong>
					</div>
					<div class="col-12">
						<p>Video: </p>
						<strong class="col-12 red-text">1080p </strong>
					</div>
					<div class="col-12">
						<p>Audio: </p>
						<strong class="col-12 red-text">English (ACC Stereo), Francias (ACC Mono), Francias (ACC Stereo) </strong>
					</div>
					<div class="col-12">
						<p>Subtitles: </p>
						<strong class="col-12 red-text">English (SRT External), English(ASS)</strong>
					</div>
				</div>
			</div>
		</div>


		<h5 class="label-with-border">Pricing Data Points: </h5>
		<div class="row meta-data-details">


			<div class="col-12"><br><br><br>
				<label class="full-width">Title: <strong>Shaun The Sheep : The Movie</strong> </label>
				<label class="full-width">Time: <strong>16:58:12 (UTC + 08:00) Kuala Lumpur, Singapore</strong> </label>
				<label class="full-width">Date: <strong>Monday, 03-December-2018</strong> </label>
			</div>


			<div class="col-12"><br><br><br>
				<span class="col-md-3" style="padding-left: 0">iTunes: <strong>$9.50 USD</strong> </span>
				<span class="col-md-3">Google: <strong>$9.50 USD</strong>  </span>
				<span class="col-md-3">Amazon: <strong>$10.50 USD</strong>  </span>
				<span class="col-md-3" style="padding-right: 0">Microsoft: <strong>$9.70 USD</strong>  </span>
			</div>	


			<div class="col-12"><br><br>
				<span class="col-md-3" style="padding-left: 0">USD to BTC Rate: <strong>$9.50 USD</strong> </span>
				<span class="col-md-3">BTC to AVX Rate: <strong>$9.50 USD</strong>  </span>
			</div>	
			
			
		</div>
	  <a class="popup-close" pd-popup-close="shareMarketPriceModal" href="#"> </a>
    </div>
	
	<div class="popup-inner-white">
		<div class="row">
			<div class="col-8 mt-5">
				<p style="font-size: 18px" id="whiteP"> (AVX Token Price) </p>
				<!-- <p style="font-size: 22px;">Proceed to AVXChange network file genesis payment?</p> -->
			</div>

			<div class="col-4 mt-5">
			<span id="priceAVX">13.5 AVX</span>
			</div>
		</div>
		<hr id="hr"/>
		<div class="row mb-5">
			<div class="col-8">
				<div class="row file-details" style="margin: 0px;">
						<div class="row file-metadata" style="padding: 0;">
							<div class="">
								<!-- class="full-width" -->
								<p class="pl-1">
									<span id="walletBalance" style="font-size: 18px; color:#4ab65c;"> 992.53 </span> <span  style="font-size: 18px; color:#4ab65c;">AVX</span>
									<span class="mdi mdi-shopping-music"></span>
								</p>
								<p class="pl-3">
									<span style="font-size: 10px">Account Wallet Ballance</span>
								</p>
							</div>
						</div>
					</div>
			</div>
			<div class="col-4">
				<a href="#" id="executePayment" class="btn btn-danger float-right">Share/Pay</a>
				<a pd-popup-close="shareMarketPriceModal" href="#" id="btnCancel" class="btn btn-default float-right">Cancel</a>
			</div>
		</div>
	</div>
</div>
<!-- /Payment Confirmation Page -->
<!-- Payment Confirmation Success -->
 <div class="popup scanning-file" pd-popup="sharePaymentSuccessModal">
    <div class="popup-inner no-border-popup">
		<div class="row">
			<div class="col-6" id="txImage">
				<img id="txImage" src="../images/Tx_UPLOAD_SHARE_MODAL.png" alt="">
			</div>
			<div class="col-6">
				<label id="confirmHeader">Congratulations, your file is now uploading/sharing.</label>
				<p id="confirmP">Your video is on currently sharing(upload). You can check the status on Account Waller/Active Files</p>
				<div class="balance-info">
					<label id="account-balance"><span>00</span> AVX</label>
					<p id="confirmPcurrent">Current Balance</p>
				</div>
				<a pd-popup-close="sharePaymentSuccessModal" href="#" id="btnCloseSuccess" class="btn btn-danger float-right">Close</a>
			</div> 
		</div>
    </div>
</div>
<!--/ Payment Confirmation Success -->