<div class="popup validation-event" pd-popup="loginSuccessModal">
    <div class="popup-inner">
    <h4 class="title-label">Login is succesful</h3>
    </div>
</div> 

<div class="popup validation-event" pd-popup="loginFailModal">
  <div class="popup-inner">
    <h4>Login details invalid.</h3>
      <br />
    <button id="btnLoginfail" class="btn btn-danger">Okay</button>
  </div>
</div> 

<div class="popup validation-event" pd-popup="loginInvalidModal">
  <div class="popup-inner">
    <h4>Login details incomplete.</h3>
      <br />
    <button id="btnLoginInvalid" class="btn btn-danger">Okay</button>
  </div>
</div> 

<div class="popup validation-event" pd-popup="signupSuccessModal">
  <div class="popup-inner">
    <!-- <p><span class="mdi mdi-loading mdi-spin mdi-48px"></span></p>
    <h2 id="transferStat"><span class="counter" data-count="100">0</span>%</h2> -->
  <h4 class="title-label" >Sign up is succesful</h3>
    <button class="btn btn-danger" id="btnSuccessSignup">Okay</button>
  </div>
</div> 

<div class="popup validation-event" pd-popup="signupInvalidModal">
  <div class="popup-inner">
    <!-- <p><span class="mdi mdi-loading mdi-spin mdi-48px"></span></p>
    <h2 id="transferStat"><span class="counter" data-count="100">0</span>%</h2> -->
  <h4 class="title-label" >Registration failed.</h3>
    <button class="btn btn-danger" id="btnRegFailSignup">Okay</button>
  </div>
</div> 

<div class="popup validation-event" pd-popup="signupFailModal">
  <div class="popup-inner">
  <h4 class="title-label" id="signupfailPopup">Password did not match.</h4>
    <button class="btn btn-danger" id="btnSignupfail">Okay</button>
  </div>
</div> 

<div class="popup validation-event" pd-popup="signupFieldsEmptyModal">
  <div class="popup-inner">
  <h4 class="title-label" id="signupfailPopup">Fill out all the fields.</h4>
    <button class="btn btn-danger" id="btnSignupemptyfail">Okay</button>
  </div>
</div> 


<div class="popup validation-event" pd-popup="signupPasswordEmptyModal">
  <div class="popup-inner">
  <h4 class="title-label" id="signupfailPopup">Password fields are empy match.</h4>
    <button class="btn btn-danger" id="btnpasswordEmptyfail">Okay</button>
  </div>
</div> 


<div class="popup validation-event" pd-popup="signupAgreementModal">
  <div class="popup-inner">
  <h4 class="title-label" id="signupfailPopup">Check out the terms and agreement first before signing up.</h4>
    <button class="btn btn-danger pl-5 pr-5" id="btnChkAgreement">Okay</button>
  </div>
</div> 


<script>

$('#btnSignupfail').click(() => {
  $('[pd-popup="signupFailModal"]').fadeOut(200);
});

$('#btnSignupfail').click(() => {
  $('[pd-popup="signupFailModal"]').fadeOut(200);
});

$('#btnSuccessSignup').click(() => {
  $('[pd-popup="signupSuccessModal"]').fadeOut(200);
  // location.href = 'login-window.html';
});

$('#btnSignupemptyfail').click(() => {
  $('[pd-popup="signupFieldsEmptyModal"]').fadeOut(200);
});

$('#btnpasswordEmptyfail').click(() => {
  $('[pd-popup="signupPasswordEmptyModal"]').fadeOut(200);
});

$('#btnChkAgreement').click(() => {
  $('[pd-popup="signupAgreementModal"]').fadeOut(200);
});

$('#btnRegFailSignup').click(() => {
  $('[pd-popup="signupInvalidModal"]').fadeOut(200);
  location.href = "login-window.html";
});

$('#btnLoginfail').click(() => {
  $('[pd-popup="loginFailModal"]').fadeOut(200);
  location.href = "login-window.html";
});

$('#btnLoginInvalid').click(() => {
  $('[pd-popup="loginInvalidModal"]').fadeOut(200);
});

</script>