<div class="popup validation-event" pd-popup="loginSuccessModal">
    <div class="popup-inner">
    <p><span class="mdi mdi-loading mdi-spin mdi-48px"></span></p>
    <!-- <h2 id="loginStat"><span class="counterLogin" data-count="100">0</span>%</h2> -->
	  <h4 class="title-label" >Login is succesful</h3>
    <!-- <a class="popup-close" href="#"> </a> -->
    <!-- <button class="btn btn-danger"></button> -->
    </div>
</div> 

<div class="popup validation-event" pd-popup="loginFailModal">
  <div class="popup-inner">
    <p><span class="mdi mdi-loading mdi-spin mdi-48px"></span></p>
    <h2 id="transferStat"><span class="counter" data-count="100">0</span>%</h2>
  <h4 class="title-label" >Login is succesful</h3>
  <!-- <a class="popup-close" href="#"> </a> -->
  <!-- <button class="btn btn-danger"></button> -->
  </div>
</div> 


<div class="popup validation-event" pd-popup="signupSuccessModal">
  <div class="popup-inner">
    <p><span class="mdi mdi-loading mdi-spin mdi-48px"></span></p>
    <h2 id="transferStat"><span class="counter" data-count="100">0</span>%</h2>
  <h4 class="title-label" >Login is succesful</h3>
  <!-- <a class="popup-close" href="#"> </a> -->
  <!-- <button class="btn btn-danger"></button> -->
  </div>
</div> 
<div class="popup validation-event" pd-popup="signupFailModal">
  <div class="popup-inner">
    <p><span class="mdi mdi-loading mdi-spin mdi-48px"></span></p>
    <h2 id="transferStat"><span class="counter" data-count="100">0</span>%</h2>
  <h4 class="title-label" >Login is succesful</h3>
  <!-- <a class="popup-close" href="#"> </a> -->
  <!-- <button class="btn btn-danger"></button> -->
  </div>
</div> 


